---
import Next from '../icons/Next.astro';
import Tailwind from '../icons/Tailwind.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: Next,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
};

const PROJECTS = [
  {
    title: 'learnDeals',
    description:
      'Blog donde se publican diferentes cursos con promociones de descuento de Udemy, el usuario puede filtrar por nombre y categoría, se utiliza una API para obtener los datos del curso.',
    image: '/projects/learndeals.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: 'https://learndeals.netlify.app/',
  },
  // {
  //   title: 'Quiz App',
  //   description:
  //     'Aplicación web que permite a los usuarios hacer un quiz para medir sus habilidades en distintos lenguages de programacion (por ahora solo JavaScript y Python uqeda pendiente agregar otros) ',
  //   image: 'https://adriane121000.github.io/portfolio/quiz-app.jpg',
  //   tags: ['React', 'Zustand', 'MaterialUI', 'State'],
  //   link: 'https://adriane121000.github.io/javascript-quizz',
  // },
  // {
  //   title: 'User Manager',
  //   description:
  //     'Aplicación web que permite mostrar, agregar, eliminar y editar usuarios, así como tambíen obtener usuarios aleatorios de una API, guarda todos los usuarios en el localStorage, tambíen cuenta con una paginación y modo claro y oscuro para mejorar la experiencia del usuario.',
  //   image: 'https://adriane121000.github.io/portfolio/user-manager.jpg',
  //   tags: ['React', 'Zustand', 'Tailwind', 'Fetch'],
  //   link: 'https://adriane121000.github.io/user-crud',
  // },
  // {
  //   title: 'Todo App',
  //   description:
  //     'Aplicación web que permite a los usuarios agregar diferentes tareas, así como seleccionar aquellas que han sido completadas y filtrarlas según su estado (completadas o no completadas)',
  //   image: 'https://adriane121000.github.io/portfolio/todo_app.jpg',
  //   tags: ['React', 'Tailwindcss', 'Context', 'State'],
  //   link: 'https://adriane121000.github.io/todo-app',
  // },
  // {
  //   title: 'Crypto Market',
  //   description:
  //     'Aplicación web que muestra un listado de los precios de las criptomonedas. Se utiliza la API de CoinGecko para obtener datos actualizados sobre los precios de las criptomonedas y se muestran en un formato fácil de entender para los usuarios.',
  //   image: 'https://adriane121000.github.io/portfolio/crypto_market.jpg',
  //   tags: ['React', 'API', 'Material UI', 'State'],
  //   link: 'https://adriane121000.github.io/crypto-market',
  // },
];
---

{
  PROJECTS.map((project) => (
    <article>
      <h3 class='text-2xl font-semibold text-yellow-200 mb-2'>
        {project.title}
      </h3>
      <p class='text-lg mb-4 text-pretty'>{project.description}</p>
      <ul class='flex gap-x-2 flex-row mb-2'>
        {project.tags.map((tag) => (
          <li>
            <span
              class={`${tag.class} flex gap-x-2 rounded-full text-xs py-1 px-2`}>
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class='rounded shadow-2xl shadow-white/10'
        src={project.image}
        alt={project.title}
      />
    </article>
  ))
}
