---
import MatarialUI from '../icons/MatarialUI.astro';
import Next from '../icons/Next.astro';
import React from '../icons/React.astro';
import Tailwind from '../icons/Tailwind.astro';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: Next,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  React: {
    name: 'React',
    class: 'bg-blue-900 text-white',
    icon: React,
  },
  MATERIALUI: {
    name: 'Material UI',
    class: 'bg-gray-800 text-white',
    icon: MatarialUI,
  },
};

const PROJECTS = [
  {
    title: 'learnDeals',
    description:
      'Blog donde se publican diferentes cursos con promociones de descuento de Udemy, el usuario puede filtrar por nombre y categoría, se utiliza una API para obtener los datos del curso.',
    image: '/projects/learndeals.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.React],
    link: 'https://learndeals.netlify.app/',
  },
  {
    title: 'Quiz App',
    description:
      'Aplicación web que permite a los usuarios hacer un quiz para medir sus habilidades en distintos lenguages de programacion (por ahora solo JavaScript y Python uqeda pendiente agregar otros) ',
    image: '/projects/quizApp.webp',
    tags: [TAGS.React, TAGS.MATERIALUI],
    link: 'https://adriane121000.github.io/javascript-quizz',
  },
  {
    title: 'User Manager',
    description:
      'Aplicación web que permite mostrar, agregar, eliminar y editar usuarios, así como tambíen obtener usuarios aleatorios de una API, guarda todos los usuarios en el localStorage, tambíen cuenta con una paginación y modo claro y oscuro para mejorar la experiencia del usuario.',
    image: '/projects/userManager.webp',
    tags: [TAGS.React, TAGS.TAILWIND],
    link: 'https://adriane121000.github.io/user-crud',
  },
  {
    title: 'Todo App',
    description:
      'Aplicación web que permite a los usuarios agregar diferentes tareas, así como seleccionar aquellas que han sido completadas y filtrarlas según su estado (completadas o no completadas)',
    image: '/projects/todoApp.webp',
    tags: [TAGS.React, TAGS.TAILWIND],
    link: 'https://adriane121000.github.io/todo-app',
  },
  {
    title: 'Crypto Market',
    description:
      'Aplicación web que muestra un listado de los precios de las criptomonedas. Se utiliza la API de CoinGecko para obtener datos actualizados sobre los precios de las criptomonedas y se muestran en un formato fácil de entender para los usuarios.',
    image: '/projects/cryptoMarket.webp',
    tags: [TAGS.React, TAGS.MATERIALUI],
    link: 'https://adriane121000.github.io/crypto-market',
  },
];
---

{
  PROJECTS.map((project) => (
    <article>
      <h3 class='text-4xl font-semibold text-yellow-200 mb-2 mt-16 hover:underline'>
        <a
          href={project.link}
          target='_blank'>
          {project.title}
        </a>
      </h3>
      <p class='text-lg mb-4 text-pretty'>{project.description}</p>
      <ul class='flex gap-x-2 flex-row mb-2'>
        {project.tags.map((tag) => (
          <li>
            <span
              class={`${tag.class} flex gap-x-2 rounded-full text-xs py-1 px-2`}>
              <tag.icon class='size-4' />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class='rounded shadow-lg shadow-white/10'
        src={project.image}
        alt={project.title}
      />
    </article>
  ))
}
